@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,600&display=swap');

:root {
    --background: #EDEAE0;
    --content: #9DAD6F; /* izhodiščna #9DAD6F */
    --text: #EDEAE0;
    --navbar: #D18654;
    --textheader: #d18654b5;
    --header-height: 140px;
    --content-margin-top: 80px;
    --side-margin: 12%;
}

html {
    padding: 0;
    width: 100vw;
    scroll-behavior: smooth;
    overflow-y: scroll;
    background-color: #edeae0e5;
}

/* HEADER  */

header {
    z-index: 10;
    position: fixed;
    width: 100vw;
    /* max-width: 1440px; */
    top: 0;
    left: 0;
    /* max-width: 1440px; */
    /* margin: auto; */
    height: 140px;
    background: var(--background);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

div#headerDIV {
    max-width: 1008px;
    height: 140px;
    margin: auto;
}

img#logo {
    width: 210px;
    height: 140px;
    position: relative;
    margin-left: 0px;
}


nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
    /* width: 800px; */
    height: 40px;
    /* align-items: up; */
    /* right: 50px; */
    /* right: var(--side-margin); */
    float: right;
    padding-right: 70px;
    gap: 20px;
}


@media (min-width:1400px) {

    
a {
    color: var(--navbar);

    /* Text */
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



/* BODY --------------------------------- */

body {
    max-width: 1000px;
    margin: 0;
    color: var(--text);
    font-family: 'Montserrat';
    background: #edeae074;
    width: 100%;
    /* overflow: hidden; */
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

div {
    margin: 0;
    padding: 0;
}

svg {
    margin: 0;
    padding: 0;
    opacity: 75;
    fill: var(--content);
}

svg.logo {
    fill: var(--navbar);
}

div.Content {
    /* align-self: center; */
    width: 100%;
    /* overflow: hidden;
    max-width: 1440px;
    margin: auto; */
}

.right {
    float: right;
}

.left {
    float: left;
}


p {
    /* margin-left: var(--side-margin);
    margin-right: var(--side-margin); */
    padding: 0;
    position: absolute;

    color: var(--text);
    z-index: 5;

    /* Text */
    /* text-align: right; */
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

p.heading {
    position: absolute;
    padding: 0;

    color: var(--textheader);

    /* Text */
    font-family: Kaisei Opti;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

@media (min-width:1009px) {
    p.right {
            /* position: relative; */
            float: right;
            right: calc(((100vw - 1008px) / 2) + 50px);
            text-align: right;
        }
    
        p.left {
            float: left;
            left: calc(((100vw - 1008px) / 2) + 50px);
            text-align: left;
        }

        p.leftHeading {
            font-size: 6vw;
            rotate: -90deg;
            margin: 0;
            margin-top:0;
            /* padding-right: 100px; */
            left: 0;
            /* padding-right: 500px; */
        }

        p.rightHeading {
            font-size: 6vw;
            rotate: 90deg;
            margin: 0;
            margin-top: 0;
            /* padding-right: 100px; */
            right: 0;
            /* padding-right: 500px; */
        }
}

@media (max-width:1008px) {
    p.right {
            /* position: relative; */
            /* float: right; */
            right: 6%;
            text-align: right;
        }
    
        p.left {
            /* float: left; */
            left: 6%;
            text-align: left;
        }
    }
    
    p.Quote {
        font-style: normal;
    }
    
    
    /* ********* CONTENT ********** */
    
    .anchor {
        /* Anchor to use to scroll to the middle of the screen */
        position: absolute;
        transform: translateY(-180px);
    }
    
    /* MANCA IN OTROCI */
    
    div#MancaInOtroci {
        width: 100%;
        margin-top: var(--header-height);
        /* max-width: 1440px; */
        height: 30vw;
        max-height: 416px;
        background-image: url("media/GGS-1.jpeg");
        background-position: left;
        background-size: 60%;
    }
    
    
    p#introductoryQuote {
    
        /* right: 166px; */
        top: 150.0px;
        /* float: right; */
        text-align: right;
        width: 400px;
        height: 382px;
        flex-shrink: 0;
    }
    
    p#Ivana {
        width: 340.2px;
        top: 390px;
    }
    
    #SVG1 {
        width: 60%;
        height: 30vw;
        max-height: 416px;
        flex-shrink: 0;
    }
    
    /* IZAK GOVORI */
    
    div#IzakGovori {
        width: 100%;
        height: 25vw;
        max-height: 347px;
        background-image: url("media/GGS-2.png");
        background-position: right;
        background-size: 70%;
    }
    
    p#oNas {
        /* position: absolute; */
        top: 650px;
    }
    
    p#oNasContent {
        width: 332.5px;
        height: 194px;
        flex-shrink: 0;
    
        /* left: 160px; */
        /* top: 920px; */
        padding-top: 30px;
    
        text-align: left;
    }
    
    #SVG2 {
        width: 53.1%;
        height: 25vw;
        max-height: 347px;
        flex-shrink: 0;
    }
    
    /* NASTOP PRI ALKOHOLIKIH */
    
    div#NastopAlkoholiki {
        width: 100%;
        height: 37vw;
        max-height: 513px;
        background-image: url("media/GGS-3.jpeg");
        background-position: left;
        background-size: 80%;
    }
    
    p#Nastopi {
        top: 1050px;
        right: -90px;
    }
    
    p#NastopiContent {
        display: flex;
        width: 380px;
        height: 380px;
        padding-top: 120px;
    }
    
    #SVG3 {
        width: 58.3%;
        height: 37vw;
        flex-shrink: 0;
        max-height: 513px;
    }
    
    /* MILAN GOVORI */
    
    div#MilanGovori {
        width: 100%;
        height: 40vw;
        max-height: 554px;
        background-image: url("media/GGS-4.jpeg");
        background-position: right;
        background-size: 70%;
    }
    
    p#Mentorji {
        left: -120px;
        font-size: 90px;
        /* top: 1575px; */
    }
    
    p#MentorjiContent {
        display: flex;
        width: 350px;
        height: 500px;
        padding-top: 130px;
    }
    
    #SVG4 {
        width: 45.1%;
        height: 40vw;
        max-height: 554px;
        flex-shrink: 0;
    }
    
    /* ARHIV */
    
    div#TinaSlika {
        width: 100%;
        height: 525.7px;
        max-height: 525px;
        background-image: url("media/GGS-5.jpeg");
        background-position: left;
        background-size: 100%;
    }
    
    p#Arhiv {
        top: 2100px;
        right: -30px;
    }
    
    p#ArhivContent {
        width: 320px;
        height: 194px;
        flex-shrink: 0;
        /* left: 160px; */
        /* top: 920px; */
        padding-top: 170px;
    
    }
    
    #SVG5 {
        width: 55%;
        height: 525.7px;
        max-height: 525px;
        flex-shrink: 0;
    }
    
    /* KONTAKT */
    
    div#DvignjenaRoka {
        width: 100%;
        max-width: 1440px;
        height: 600px;
        max-height: 600px;
        background-image: url("media/GGS-6.jpeg");
        background-position: right;
        background-size: cover;
    }
    
    #SVG6 {
        width: 65%;
        height: 900px;
        flex-shrink: 0;
    }
    
    /* LEVEC */
    
    div#Levec {
        bottom: 0;
        width: 100%;
        max-width: 1440px;
        height: 810px;
        background-image: url("media/GGS-6.jpeg");
        background-position: left;
        background-size: 1440px 810px;
        width: 941px;
        height: 678.1px;
    }
}

/* ######################################################## */
/* ######################################################## */
/* ######################################################## */
/* ######################################################## */
/* ######################################################## */

@media (max-width: 1401px) {
    a {
            color: var(--navbar);
    
            /* Text */
            text-align: center;
            text-decoration: none;
            font-family: 'Montserrat';
            font-size: 19px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    
    
    
        /* BODY --------------------------------- */
    
        body {
            max-width: 1000px;
            margin: 0;
            color: var(--text);
            font-family: 'Montserrat';
            background: #edeae074;
            width: 100%;
            /* overflow: hidden; */
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        }
    
        div {
            margin: 0;
            padding: 0;
        }
    
        svg {
            margin: 0;
            padding: 0;
            opacity: 75;
            fill: var(--content);
        }
    
        svg.logo {
            fill: var(--navbar);
        }
    
        div.Content {
            /* align-self: center; */
            width: 100%;
            /* overflow: hidden;
        max-width: 1440px;
        margin: auto; */
        }
    
        .right {
            float: right;
        }
    
        .left {
            float: left;
        }
    
    
        p {
            /* margin-left: var(--side-margin);
        margin-right: var(--side-margin); */
            padding: 0;
            position: absolute;
    
            color: var(--text);
            z-index: 5;
    
            /* Text */
            /* text-align: right; */
            font-family: 'Montserrat';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
        }
    
        p.heading {
            position: absolute;
            padding: 0;
    
            color: var(--textheader);
    
            /* Text */
            font-family: Kaisei Opti;
            font-size: 64px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }
    
        @media (min-width:1009px) {
            p.right {
                /* position: relative; */
                float: right;
                right: calc(((100vw - 1008px) / 2) + 50px);
                text-align: right;
            }
    
            p.left {
                float: left;
                left: calc(((100vw - 1008px) / 2) + 50px);
                text-align: left;
            }
    
            p.leftHeading {
                font-size: 6vw;
                rotate: -90deg;
                margin: 0;
                margin-top: 0;
                /* padding-right: 100px; */
                left: 0;
                /* padding-right: 500px; */
            }
    
            p.rightHeading {
                font-size: 6vw;
                rotate: 90deg;
                margin: 0;
                margin-top: 0;
                /* padding-right: 100px; */
                right: 0;
                /* padding-right: 500px; */
            }
        }
    
        @media (max-width:1008px) {
    
    
            p.right {
                /* position: relative; */
                /* float: right; */
                right: 6%;
                text-align: right;
            }
    
            p.left {
                /* float: left; */
                left: 6%;
                text-align: left;
            }
        }
    
        p.Quote {
            font-style: normal;
        }
    
    
        /* ********* CONTENT ********** */
    
        .anchor {
            /* Anchor to use to scroll to the middle of the screen */
            position: absolute;
            transform: translateY(-180px);
        }
    
        /* MANCA IN OTROCI */
    
        div#MancaInOtroci {
            width: 100%;
            margin-top: var(--header-height);
            /* max-width: 1440px; */
            height: 30vw;
            max-height: 416px;
            background-image: url("media/GGS-1.jpeg");
            background-position: left;
            background-size: 60%;
        }
    
    
        p#introductoryQuote {
    
            /* right: 166px; */
            top: 150.0px;
            /* float: right; */
            text-align: right;
            width: 400px;
            height: 382px;
            flex-shrink: 0;
        }
    
        p#Ivana {
            width: 340.2px;
            top: 390px;
        }
    
        #SVG1 {
            width: 60%;
            height: 30vw;
            max-height: 416px;
            flex-shrink: 0;
        }
    
        /* IZAK GOVORI */
    
        div#IzakGovori {
            width: 100%;
            height: 25vw;
            max-height: 347px;
            background-image: url("media/GGS-2.png");
            background-position: right;
            background-size: 70%;
        }
    
        p#oNas {
            /* position: absolute; */
            top: 650px;
        }
    
        p#oNasContent {
            width: 332.5px;
            height: 194px;
            flex-shrink: 0;
    
            /* left: 160px; */
            /* top: 920px; */
            padding-top: 30px;
    
            text-align: left;
        }
    
        #SVG2 {
            width: 53.1%;
            height: 25vw;
            max-height: 347px;
            flex-shrink: 0;
        }
    
        /* NASTOP PRI ALKOHOLIKIH */
    
        div#NastopAlkoholiki {
            width: 100%;
            height: 37vw;
            max-height: 513px;
            background-image: url("media/GGS-3.jpeg");
            background-position: left;
            background-size: 80%;
        }
    
        p#Nastopi {
            top: 1050px;
            right: -90px;
        }
    
        p#NastopiContent {
            display: flex;
            width: 380px;
            height: 380px;
            padding-top: 120px;
        }
    
        #SVG3 {
            width: 58.3%;
            height: 37vw;
            flex-shrink: 0;
            max-height: 513px;
        }
    
        /* MILAN GOVORI */
    
        div#MilanGovori {
            width: 100%;
            height: 40vw;
            max-height: 554px;
            background-image: url("media/GGS-4.jpeg");
            background-position: right;
            background-size: 70%;
        }
    
        p#Mentorji {
            left: -120px;
            font-size: 90px;
            /* top: 1575px; */
        }
    
        p#MentorjiContent {
            display: flex;
            width: 350px;
            height: 500px;
            padding-top: 130px;
        }
    
        #SVG4 {
            width: 45.1%;
            height: 40vw;
            max-height: 554px;
            flex-shrink: 0;
        }
    
        /* ARHIV */
    
        div#TinaSlika {
            width: 100%;
            height: 525.7px;
            max-height: 525px;
            background-image: url("media/GGS-5.jpeg");
            background-position: left;
            background-size: 100%;
        }
    
        p#Arhiv {
            top: 2100px;
            right: -30px;
        }
    
        p#ArhivContent {
            width: 320px;
            height: 194px;
            flex-shrink: 0;
            /* left: 160px; */
            /* top: 920px; */
            padding-top: 170px;
    
        }
    
        #SVG5 {
            width: 55%;
            height: 525.7px;
            max-height: 525px;
            flex-shrink: 0;
        }
    
        /* KONTAKT */
    
        div#DvignjenaRoka {
            width: 100%;
            max-width: 1440px;
            height: 600px;
            max-height: 600px;
            background-image: url("media/GGS-6.jpeg");
            background-position: right;
            background-size: cover;
        }
    
        #SVG6 {
            width: 65%;
            height: 900px;
            flex-shrink: 0;
        }
    
        /* LEVEC */
    
        div#Levec {
            bottom: 0;
            width: 100%;
            max-width: 1440px;
            height: 810px;
            background-image: url("media/GGS-6.jpeg");
            background-position: left;
            background-size: 1440px 810px;
            width: 941px;
            height: 678.1px;
        }
}